<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客管理</title>
    <link href="../../static/images/me.jpg" th:href="@{/images/me.jpg}" rel="icon" type="image/x-ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>

<!--导航栏-->
<nav class="ui inverted gird-header" th:replace="admin/admincommon :: nav(1)">
</nav>
<div class="m-padded-tb-hugex">
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="#" class=" item" th:href="@{/admin/blogAddHtml}">发布</a>
                <a href="#" class="teal active item" th:href="@{/admin/blogHtml}">列表</a>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>

<!--中间内容-->
<div class="">
    <div class="ui container">
        <div class="ui secondary segment form">
            <input type="hidden" name="page">
            <div class="inline fields">
                <div class="field">
                    <input type="text" name="title" placeholder="标题" id="title">
                </div>
                <div class="field">
                    <div class="ui labeled action input">
                        <div class="ui type selection dropdown">
                            <input type="hidden" name="typeName" id="typeName">
                            <i class="dropdown icon"></i>
                            <div class="default text">分类</div>
                            <div class="menu" id="typeMenu">
                                <div class="item" data-value="1">我的故事</div>
                            </div>
                        </div>
                        <button id="clear-btn" class="ui compact button">clear</button>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="recommended" name="recommended">
                        <label>推荐</label>
                    </div>
                </div>
                <div class="field">
                    <button type="button" id="search-btn" class="ui mini teal basic button"><i class="search icon"></i>搜索
                    </button>
                </div>
            </div>
        </div>
        <div id="table-container">
            <table class="ui compact teal table">
                <thead>
                <tr align="center">
                    <th>ID</th>
                    <th>标题</th>
                    <th>类型</th>
                    <th>推荐</th>
                    <th>状态</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="row">
                <tr align="center">
                    <td>1</td>
                    <td>大圣，此去欲何?</td>
                    <td>我的故事</td>
                    <td>是</td>
                    <td>草稿</td>
                    <td>2020-01-02 05:20</td>
                    <td>
                        <!--th:href="@{/admin/types/{id}/input(id=${type.id})}"-->
                        <a href="#" class="ui mini teal basic button">编辑</a>
                        <a href="#" onclick="return confirm('确定要删除该文章吗？三思啊! 删了可就没了！')" class="ui mini red basic button">删除</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="7">
                        <div class="ui inverted divided stackable grid">
                            <div class="three wide column" align="center" id="prePage">
                                <a class="item">上一页</a>
                            </div>

                            <div class="ten wide column" align="center" id="total">
                                <p>第 <span></span> 页，共 <span></span> 页，有 <span></span> 篇文章</p>
                            </div>

                            <div class="three wide column" align="center" id="nextPage">
                                <a class="item">下一页</a>
                            </div>
                        </div>
                        <div align="center">
                            <a href="#" th:href="@{/admin/blogAddHtml}">
                                <button type="button" class="ui teal button m-mobile-wide m-margin-top"><i
                                        class="pencil icon"></i>新增
                                </button>
                            </a>
                        </div>
                    </th>
                </tr>
                </tfoot>
            </table>

            <div id="message"></div>

        </div>

    </div>

</div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!--底部栏-->
<footer class="ui inverted vertical segment m-padded-tb-massive m-opacity" th:replace="admin/admincommon :: foot">
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script>


    function load(currentPage, pageSize) {
        let data = {};
        data['currentPage'] = currentPage;
        data['pageSize'] = pageSize;
        title = $("#title").val();

        if (title != "") {
            data['title'] = title;
        }
        if ($("#recommended").is(":checked")) {
            data['recommended'] = true;
        }
        typeName = $("#typeName").val();

        if (typeName != "") {
            data['typeName'] = typeName;
        }
        $.get("/admin/pageSelectBlog",
            data,
            function (res) {
                let blogList = "";

                if (res.code == 1) {
                    let index = 0;
                    let pageInfo = res.object;
                    let list = pageInfo.list;
                    let publish;
                    let recommended;
                    for (i = 0; i < pageInfo.size; i++) {
                        index = i + 1;
                        publish = list[i].publish == true ? "发布" : "草稿";
                        recommended = list[i].recommended == true ? "是" : "否";

                        blogList = blogList + ' <tr align="center">\n' +
                            '            <td>' + index + '</td>\n' +
                            '            <td>' + list[i].title + '</td>\n' +
                            '            <td>' + list[i].typeName + '</td>\n' +
                            '            <td>' + recommended + '</td>\n' +
                            '            <td>' + publish + '</td>\n' +
                            '            <td>' + list[i].updateTime + '</td>\n' +
                            '            <td>\n' +
                            '              <!--th:href="@{/admin/types/{id}/input(id=${type.id})}"-->\n' +
                            '              <a  class="ui mini teal basic button" href="/admin/editBlogHtml?id='+list[i].id+'">编辑</a>\n' +
                            '              <a href="#" onclick="del(' + list[i].id + ')" class="ui mini red basic button">删除</a>\n' +
                            '            </td>\n' +
                            '          </tr>'
                    }

                    $("#total").html('<p>第 <span>' + pageInfo.pageNum + '</span> 页，共 <span>' + pageInfo.pages + '</span>页</p>')

                    if (pageInfo.isFirstPage) {
                        $("#prePage").hide();
                    } else {
                        $("#prePage").html('<a class="item ui mini teal basic button" onclick="load(' + pageInfo.prePage + ',' + 4 + ')">上一页</a>').show();
                    }

                    if (pageInfo.isLastPage) {
                        $("#nextPage").hide();
                    } else {
                        $("#nextPage").html('<a class="item ui mini teal basic button" onclick="load(' + pageInfo.nextPage + ',' + 4 + ')">下一页</a>').show();
                    }
                }

                if (res.code == 0) {
                    blogList = ' <tr align="center">\n' +
                        '            <td>' + res.message + '</td>\n' +
                        '          </tr>'
                  $("#prePage").hide();
                  $("#nextPage").hide();
                  $("#total").html('<p>第 <span>' + 0 + '</span> 页，共 <span>' + 0 + '</span>页</p>')
                }

                $("#row").html(blogList);


            }, 'json');
    }

    function loadType() {
        $.get("/admin/selectAllType",
            function (res) {
                if (res.code == 1) {
                    let inner = "";
                    $.each(res.object, function () {
                        inner += '<div class="item" data-value=' + this.name + '>' + this.name + '</div>' + '\n';
                    });
                    $("#typeMenu").html(inner);
                }
            }, 'json');
    }

    $(function () {
        load(1, 4);
        loadType();
    })

    function del(id) {
        let bool = window.confirm("确认删除吗?")
        let url =  "/admin/delBlog/" + id+"/";
        if (bool) {
            $.get(url,
                function (res) {
                    if (res.code == 1) {
                        alert(res.message);
                        load(1, 4);
                    } else {
                        $("#message").html('<div class="ui negative message">\n' +
                            '          <i class="close icon"></i>\n' +
                            '          <div class="">提示：' + res.message + '</div>')
                    }
                }, 'json');
        }
    }


    $("#search-btn").click(function () {
        load(1, 4)
    })
</script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    //消息提示关闭初始化
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });

    $('#clear-btn')
        .on('click', function () {
            $('.ui.type.dropdown')
                .dropdown('clear');
        });
</script>
<script th:include="~{admin/admincommon :: run-time}">

</script>
</body>
</html>