<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>相册管理</title>
  <link href="../../static/images/me.jpg" th:href="@{/images/me.jpg}" rel="icon" type="image/x-ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>

<!--导航栏-->
<nav class="ui inverted gird-header" th:replace="admin/admincommon :: nav(4)" >
  <div class="ui container">
    <div class="ui inverted secondary stackable menu">
      <h2 class="ui olive header item" style="font-family: STSong">管理后台</h2>
      <a href="#" th:href="@{/admin/blogHtml}" class="m-item item m-mobile-hide"><i class="home icon"></i>文章管理</a>
      <a href="#" th:href="@{/admin/typeHtml}" class="m-item item m-mobile-hide"><i class="clone outline icon"></i>分类管理</a>
      <a href="#" th:href="@{/admin/friendLinkHtml}" class="m-item item m-mobile-hide"><i class="pencil alternate icon"></i>友链管理</a>
      <a href="#" th:href="@{/admin/pictureHtml}" class="active m-item item m-mobile-hide"><i class="image icon"></i>相册管理</a>
      <div class="right m-item m-mobile-hide menu">
        <div class="ui dropdown  item">
          <div class="text">
            <img class="ui avatar image" src="../../static/images/me.jpg" th:src="@{${session.user.headImg}}">
            <span th:text="${session.user.nickName}">人在旅途</span>
          </div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <a href="#" class="item" th:href="@{/admin/loginOut}">注销</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
    <i class="sidebar icon"></i>
  </a>
</nav>

  <div class="m-padded-tb-hugex">
  <div class="ui attached pointing menu">
    <div class="ui container">
      <div class="right menu">
        <a href="#" class="item" th:href="@{/admin/pictureAddHtml}">新增</a>
        <a  class="teal active item">列表</a>
      </div>
    </div>
  </div>
  </div>

  <!--中间内容-->
  <div  class="m-padded-tb-big">
    <div class="ui container">
      <!--消息提示-->
      <div class="ui success message">
        <i class="close icon"></i>
        <div class="">提示：恭喜，操作成功！</div>
      </div>
      <table class="ui compact teal table" th:fragment="photo-list" id="photo-list">
        <thead>
          <tr align="center">
            <th>ID</th>
            <th>图片名称</th>
            <th>图片地址</th>
            <th>图片描述</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr align="center" th:each="photo,state :${pageInfo.list}">
            <td th:text="${photo.id}" hidden></td>
            <td th:text="${state.count}">1</td>
            <td th:text="${photo.photoName}">东西冲徒步</td>
            <td th:text="${photo.photoAddress}"></td>
            <td th:text="${photo.description}">2019年12月31日 深圳</td>
            <td>
              <a href="#" class="ui mini teal basic button" th:href="@{/admin/editPhotoHtml/{id}/(id=${photo.id})}">编辑</a>
              <a th:attr="data-photoid=${photo.id}"  class="ui mini red basic button" onclick="delPhoto(this)">删除</a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="6" >
              <div class="ui inverted divided stackable grid">
                <div class="three wide column" align="center" th:unless="${pageInfo.isFirstPage}">
                  <a type="button" class="item ui mini teal basic button" id="prePage">上一页</a>
                  <div id="preNum" hidden th:text="${pageInfo.prePage}"></div>
                </div>

                <div class="ten wide column" align="center">
                  <p>第 <span th:text="${pageInfo.pageNum}">0</span> 页，共 <span th:text="${pageInfo.pages}">0</span> 页，有 <span th:text="${pageInfo.total}">0</span> 张照片</p>
                </div>

                <div class="three wide column" align="center" th:unless="${pageInfo.isLastPage}">
                  <button type="button" class="item ui mini teal basic button" id="nextPage">下一页</button>
                  <div id="nextNum" hidden th:text="${pageInfo.nextPage}"></div>
                </div>
              </div>

              <div align="center">
                <a href="#" th:href="@{/admin/pictureAddHtml}" class="ui teal button m-mobile-wide m-margin-top">
                 <i class="pencil icon"></i>新增
                </a>
              </div>
              <div id="message"></div>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <br>
  <br>
  <!--底部栏-->
<footer class="ui inverted vertical segment m-padded-tb-massive m-opacity" th:replace="~{admin/admincommon :: foot}"></footer>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<script>
  function delPhoto(obj) {
    var bool = confirm("确认删除吗?")
    if (!bool){
      return;
    }
    var id = $(obj).data('photoid');
    let url = "/admin/delPhoto/"+id+"/";
    $.post(url, null,
            function (res) {
              if (res.code == 1){
                alert("删除成功!")
                load(1,5);
              }
              if (res.code ==0){
                $("#message").html(
                        '          <div class="ui negative message">\n' +
                        '            <i class="close icon"></i>\n' +
                        '            <div class="header">提示:</div>\n' +
                        '            <p >删除失败!</p>\n' +
                        '          </div>')
              }
            },'json')
  }
</script>

<script th:inline="javascript">

  function load(currentPage, pageSize) {
    let url = "/admin/pageSelectPhoto";
    let data = {};
    data['currentPage'] = currentPage;
    data['pageSize'] = pageSize;
    $.get(url,
            data,
            function (res) {
              $("#photo-list").html(res);
            });
  }

  $(document).on('click','#prePage',function() {
    let currentPage = $("#preNum").text();
    load(currentPage, 5);
  })

  $(document).on('click','#nextPage',function() {
    let currentPage = $("#nextNum").text();
    load(currentPage, 5);
  })
</script>

  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
      on : 'hover'
    });

    //消息提示关闭初始化
    $('.message .close')
      .on('click', function () {
        $(this)
          .closest('.message')
          .transition('fade');
      });
  </script>

<script th:include="~{admin/admincommon :: run-time}">

</script>
</body>
</html>