<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XLBLOG-时间轴</title>
    <link rel="stylesheet" href="../static/css/timeline.css" th:href="@{/css/timeline.css}">
    <th:block th:include="~{common :: headcss}"></th:block>
</head>
<body>

<!--导航-->
<nav class="gird-header" th:replace="~{common :: navigation(3)}"></nav>

<!--时间轴内容-->
<div class="doc-container m-padded-tb-massivex m-opacity" id="doc-container">
    <th:block>
        <section class="timeline">
            <ul>
                <li class="" th:each="timestamp : ${timestamp}">
                    <div>
                        <time th:text="${#dates.format(timestamp.createTime,'yyyy-MM-dd')}">2020-07-31</time>
                        <div class="scientist">
                            <a href="/blog/53" target="_blank" th:href="@{/blog/details/{id}/(id=${timestamp.id})}">
                                <h3 class="state" style="text-align:center;font-size: 16px;color: #000;"
                                    th:text="${timestamp.title}">完结——十年之约</h3>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </section>

    </th:block>
</div>

<br>
<br>
<br>
<br>
<br>

<!--底部栏-->
<footer class="ui inverted vertical segment m-padded-tb-massive m-opacity" th:replace="~{common :: foot}">
</footer>
<div class="snow-container"></div>

<th:block th:include="~{common :: footjs}"></th:block>
<script src="../static/lib/timeline/timeline.js" th:src="@{/lib/timeline/timeline.js}"></script>

<script th:include="~{common :: run-time}">

</script>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

</script>
</body>
</html>