<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XLBLOG-照片墙</title>
    <link rel="stylesheet" href="../static/lib/picture/css/jkresponsivegallery.css"
          th:href="@{/lib/picture/css/jkresponsivegallery.css}">
   <th:block th:include="~{common::headcss}"></th:block>
</head>
<body>

<!--导航-->
<nav class="gird-header" th:replace="~{common :: navigation(7)}"></nav>

<!--顶部图片-->
<div class="m-bg-type_outer" style="width: 100%;height: 40%">
    <div class="m-bg-class_cover">
        <div class="ui container" style="position: relative ;bottom: -540px;">
            <div class="m-font-size-title m-right-bottom" align="center" style="font-family:'STXingkai'">照片墙</div>
            <div class="m-font-size-text-init-title m-margin-top" align="center">愿你走出半生，归来仍是少年</div>
        </div>
    </div>
</div>


<!--照片墙-->
<div id="picture-main">
    <article class="thumb" th:each="photo : ${photos}">
        <div class="ma5-gallery">
            <div class="rthumbnail">
                <a href="../static/images/me.jpg" th:href="@{${photo.photoAddress}}">
                    <img class="picture-zmki_px" src="../static/images/me.jpg" th:src="@{${photo.photoAddress}}">
                </a>
                <div class="m-picture-text" th:text="${photo.photoName}">起风了</div>
                <div class="rcaption">
                    <div style="font-size: large;" th:text="${photo.photoName}">起风了</div>
                    <div style="font-size: 16px" class="m-margin-top"
                         th:text="${#dates.format(photo.createTime,'yyyy-MM-dd')}">2020-02-02 &nbsp;深圳
                    </div>
                    <p style="font-size: 16px" th:text="${photo.description}">我曾难自拔于世界之大，也沉迷于其中梦话</p>
                </div>
            </div>
        </div>
    </article>
</div>


<!--底部栏-->
<footer class="ui inverted vertical segment m-padded-tb-massive m-opacity" th:replace="~{common :: foot}"></footer>


<th:block th:include="~{common::footjs}"></th:block>
<script src="../static/lib/picture/js/jkresponsivegallery.js" th:src="@{/lib/picture/js/jkresponsivegallery.js}"></script>
<div class="snow-container"></div>
<script th:include="~{common :: run-time}">

</script>

<script>
    $(function () {
        $('.rthumbnail').responsivegallery();
    });


    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

</script>

</body>
</html>